.formContainer{
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formHeader{
    width: 100%;
    text-align: left;
    font: 900 50px "Inter Semi Bold", sans-serif;
    padding: 10px 0;
    color: #7F8F96;
}

.inputContainer{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.inputContainer input {
    width: 40%;
    text-align: center;
}

.inputContainer span{
    width: 300px;
}

.validationMsg{
    padding: 10px 0;
    color: #f65f5f;
    font-size: 15px;
}