.zoneByIdHeader {
    display: flex;
    justify-content: left;
    font: 900 100px "Inter Semi Bold", sans-serif;
    margin: 0 20px;
    color: #7F8F96;
}
.placesContainer{
    font: 900 60px "Inter Semi Bold", sans-serif;
    color: #7F8F96;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.hrLine{
    margin: 20px 20px;
    padding: 0;
    height: 6px;
    border: none;
    background: linear-gradient(45deg, #7F8F96, #2D2D2D);
    border-radius: 50px;
}