.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modalContent{
    padding: 25px;
    background: #002839;
    opacity: 0.8;
    border-radius: 16px;
    min-width: 250px;
    font: 900 20px "Inter Semi Bold", sans-serif;
    color: white;
}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
