.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modalContent{
    padding: 25px;
    background: #002839;
    border-radius: 16px;
    min-width: 250px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
