.carNum {
    width: 200px;
}
.carException {
    color: #f65f5f;
    font-size: 20px;
    padding: 20px 0;
}

.formContainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputContainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.inputContainer span{
    width: 300px;
}

.inputContainer input {
    width: 40%;
    text-align: center;
}

.formHeader {
    width: 100%;
    text-align: left;
    font: 900 50px "Inter Semi Bold", sans-serif;
    padding: 10px 0;
    color: #7F8F96;
}

.validationMsg {
    padding: 10px 0;
    color: #f65f5f;
    font-size: 15px;
}

