.newReservationContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.validationMsg {
    color: #f65f5f;
    padding: 10px 0;
    font: 900 20px "Inter Semi Bold", sans-serif;
}

option {
    background: transparent;
    font: 20px "Inter Semi Bold", sans-serif;
}