.profileContainer {
    height: 650px;
    text-align: left;
    margin: 0 40px;
    font-size: 20px;
    font-weight: 900;
    justify-content: space-between;
    display: flex;
}

.leftContainer {
    width: 50%;

    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.leftContainer button {
    height: 30px;
    width: 100px;
    align-self: flex-end;
    margin: 0 30px;
    font-size: 15px;
    font-weight: 600;
}

.rightContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.leftPropsContainer {
    overflow-y: auto;
    height: 40%;
    margin: 30px;
    border: 3px solid gray;
}

.propHeader {
    font-size: 30px;
    background: gray;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.propName {
    padding: 0 10px;
    color: #7F8F96;
    cursor: pointer;
}

.carsContainer {
    display: flex;
    justify-content: space-between;
}

.carsContainer button {
    width: 70px;
    height: 35px;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 600;
}

.carItem {
    margin-bottom: 15px;
}

.createResContainer {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.createResContainer button {
    width: 40%;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
}

.reservationsContainer {
    margin: 30px;
    border: 3px solid gray;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.reservationsContainer table {
    width: 100%;
    text-align: center;
}

.reservationsContainer th {
    color: #7F8F96;
}

.reservationsContainer td {
    font-size: 17px;
    justify-content: center;
}

.reservationsContainer td button {
    width: 60px;
    height: 20px;
    font-weight: 600;
    align-items: center;
}
