.resException {
    color: #f65f5f;
    font-size: 20px;
    padding: 20px 0;
}

.filterSelect {
    width: 175px;
    text-align: center;
    height: 30px;
    font: 500 20px "Inter Semi Bold", sans-serif;
    background-color: #a8a8a8;
    border-radius: 10px;
}

table {
    width: 100%;
    text-align: center;
}

th {
    color: #7F8F96;
}

td {
    font-size: 17px;
    justify-content: center;
}

td button {
    width: 60px;
    height: 20px;
    font-weight: 600;
    align-items: center;
}