.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002839;
    width: 100vw;
    height: 100px;
    padding: 0 20px;
}

.navbar__logo {
    width: 250px;
    background-color: transparent;
}

.navbar__links {
    color: #7F8F96;
    font: 900 25px "Inter Semi Bold", sans-serif;
    text-decoration: none;
    margin: 20px;
    transition: color 0.3s ease, font-size 0.3s ease;
    background-color: transparent;
}

.navbar__links:hover {
    color: #95aeb3;
    font-size: 28px;
    background-color: transparent;
}

.btnContainer {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.btn {
    width: 80px;
    height: 30px;
    border: #2D2D2D;
    font: 800 15px "Inter Semi Bold", sans-serif;
    background: #021a2f;
    cursor: pointer;
    border-radius: 5px;
    color: #afafaf;
    transition: color 0.3s ease;
}

.btn:hover {
    background-color: #042b4d;
}